{% extends "base.html" %}

{% block content %}

    <h3>Wishes, Annotations, other content related stuff</h3>
    <p>
      E-Mail: input <kbd>&#123;ät&#125;</kbd> lausek <kbd>&#123;dot&#125;</kbd> eu
    </p>

    <h3>Really urgent stuff goes here <font class="very_important">*</font></h3>
    <p>
      E-Mail: root <kbd>&#123;ät&#125;</kbd> lausek <kbd>&#123;dot&#125;</kbd> eu
    </p>

    <hr>

    <span class="side_note"><font class="very_important">*</font> = everything else will be blocked</span>
{% endblock %}
