{% extends "base.html" %}

{% block content %}
    <dl>
        <dt><h3>Whats the structure of your development stack?</h3></dt>
            <dd>
                Currently I'm running on PHP + <s>Smarty3</s> Twig with a classical <s>MariaDB</s> MySQL database. 
            </dd>
        <dt><h3>Will there ever be comments on your site?</h3></dt>
            <dd>
                Maybe when I'm motivated enough to search for a good comment-engine. If you have anything to mention: <code>goto <a href="/about/contact">contact</a>;</code>
            </dd>
        <dt><h3>Ever heard of WordPress, Drupal, npage, <a href="http://wix.com">wix.com</a>...?</h3></dt>
            <dd>
                Nope.
            </dd>
        <dt><h3>Why is this page so ugly?</h3></dt>
            <dd>
                No time and no skill :(
            </dd>
        <dt><h3>Does your website include Cookies?</h3></dt>
            <dd>
                Nope. Removed them completely.
            </dd>
    </dl>
{% endblock %}
