{% extends "base.html" %}

{% block content %}
  <p>
    My name is Laurin alias lausek or LPK. I am programming things since 2013, mainly
    on the web and turned my hobby into a <i>"job"</i> (still in apprenticeship) in 2015.
    Because my company is working with the SAP system, I'm very familiar to plain ABAP.
  </p>

  <p>
    You can find me on <a href="https://github.com/lausek">GitHub</a>. 
  </p>

  <p>
    I recently stopped contributing to StackOverflow. 
  </p>

  <hr>

  <h3>Languages...</h3>
  <dl>
    <dt><h4>... I'm able to speak</h4></dt>
      <dd>German, English</dd>
    <dt><h4>... I'm using effectively</h4></dt>
      <dd>ABAP, Python, JavaScript, PHP</dd>
    <dt><h4>... I already got familiar with</h4></dt>
      <dd>Rust, C#, C, Java, Haskell</dd>
    <dt><h4>... I'm planning to learn some day</h4></dt>
      <dd>Go, Pony, Lisp, proper C/C++, some Assembly</dd>
  </dl>
{% endblock %}
