{% extends "base.html" %}

{% block content %}
    <h2>this</h2>
    <p>
      This is the first site I designed and implemented completely from scratch.
    </p>
    
    <h2><a href="http://www.vfbboxberg.de">vfbboxberg.de</a></h2>
    <p>
      Maybe the biggest work I had with this website. A total rewrite of the
      site from <code>&lt;table&gt;</code>-horror to clean PHP costs a
      bit of time... Here is the "before" picture:<br>
      <img src="/templates/img/vfbprev.jpg" width="50%"/>
    </p>

    <h2>Others</h2>
    <p>
      Repositories I am responsible for: <br/>
      <a href="https://github.com/lausek/itertools">ABAP Itertools</a>, <a href="https://github.com/lausek/con4abap">Connect Four</a>
    </p>
{% endblock %}