<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <author>
    <name>lausek</name>
  </author>
  <title>lausek.eu</title>
  <id>urn:uuid:60a76c80-d399-11d9-b93C-0003939e0af6</id>
  <updated>{$smarty.now|date_format:"%Y-%m-%dT%H:%M:%SZ"}</updated>

  {foreach $data as $entry}
  <entry>
    <title>{$entry.title}</title>
    <link href="http://lausek.eu/view?id={$entry.id}"/>
    <id>urn:uuid:1225c695-cfb8-4ebb-aaaa-80da344efa6a</id>
    <updated>{$entry.last_edit}</updated>
    <summary>{$entry.description}</summary>
    <content>{$entry.description}</content>
  </entry>
  {/foreach}
</feed>
